.noum-panel {
    .noum {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        gap: 20px;
        h2 {
            font-weight: 700;
            font-size: 2.4rem;
            color: var(--color-primary);
            font-style: italic;
        }
        div {
            height: 1px;
            width: 100%;
            background-color: var(--line-backgroundColor);
        }
    }
    .meaning {
        margin-bottom: 40px;
        h2 {
            font-size: 2rem;
            font-weight: 400;
            color: #757575;
            margin-bottom: 25px;
        }
        ul {
            list-style: inside;
            margin-left: 22px;
            font-size: 1.8rem;
            font-weight: 400;
            li {
                margin-bottom: 13px;
                color: var(--color-primary);
            }
            li::marker {
                color: #8f19e8;
            }
            p {
                color: #757575;
                margin-bottom: 13px;
                margin-left: 22px;
            }
        }
    }
}
