.synonyms {
    display: flex;
    h2 {
        font-weight: 400;
        color: #757575;
        margin-bottom: 40px;
        font-size: 2rem;
    }
    a {
        font-weight: 700;
        color: #a445ed;
    }
}
