.noum-panel {
    .noum {
        display: flex;
        align-items: center;
        font-size: 2.4rem;
        color: #2d2d2d;
        font-style: italic;
        margin-bottom: 40px;
        font-weight: 700;
        gap: 20px;
        div {
            height: 1px;
            width: 100%;
            background-color: #e9e9e9;
        }
    }
    .meaning {
        margin-bottom: 40px;
        h2 {
            font-size: 2rem;
            font-weight: 400;
            color: #757575;
            margin-bottom: 25px;
        }
        ul {
            font-size: 1.8rem;
            font-weight: 400;
            color: #2d2d2d;
            li {
                margin-bottom: 13px;
                margin-left: 40px;
            }
        }
    }
    .synonyms {
        display: flex;
        h2 {
            font-weight: 400;
            color: #757575;
            margin-bottom: 40px;
            font-size: 2rem;
        }
        a {
            font-weight: 700;
            color: #a445ed;
        }
    }
}
